extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1(class="mt-5 text-center") #{pagina}
                blockquote Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis, molestias? Possimus earum porro expedita cum iure libero dolorum, doloribus voluptatum repellendus nulla corporis est cumque tempora, laudantium exercitationem harum laboriosam!

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error modi recusandae, commodi, aliquam, illo provident nihil voluptatibus magnam quis officiis eius? Libero voluptates dolores ratione ipsa. Nihil error temporibus, minus nulla reiciendis, harum vitae doloribus ducimus ipsa labore velit quas.Lorem ipsum dolor sit amet consectetur adipisicing elit. Error modi recusandae, commodi, aliquam, illo provident nihil voluptatibus magnam quis officiis eius? Libero voluptates dolores ratione ipsa. Nihil error temporibus, minus nulla reiciendis, harum vitae doloribus ducimus ipsa labore velit quas.

                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non et veritatis expedita? Veritatis delectus odit beatae? Suscipit possimus eligendi repellat quis fuga corrupti, quae, perspiciatis veniam libero saepe delectus tenetur laborum porro asperiores, nam error dignissimos incidunt maxime inventore aspernatur optio nisi molestias. Cupiditate ex, ab esse iste odio optio ducimus doloremque consequatur voluptatibus reiciendis at ipsa, consectetur cum.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non et veritatis expedita? Veritatis delectus odit beatae? Suscipit possimus eligendi repellat quis fuga corrupti, quae, perspiciatis veniam libero saepe delectus tenetur laborum porro asperiores, nam error dignissimos incidunt maxime inventore aspernatur optio nisi molestias. Cupiditate ex, ab esse iste odio optio ducimus doloremque consequatur voluptatibus reiciendis at ipsa, consectetur cum.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non et veritatis expedita? Veritatis delectus odit beatae? Suscipit possimus eligendi repellat quis fuga corrupti, quae, perspiciatis veniam libero saepe delectus tenetur laborum porro asperiores, nam error dignissimos incidunt maxime inventore aspernatur optio nisi molestias. Cupiditate ex, ab esse iste odio optio ducimus doloremque consequatur voluptatibus reiciendis at ipsa, consectetur cum.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis soluta possimus culpa unde aut! Sit voluptates ipsa voluptatibus quisquam natus?
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis soluta possimus culpa unde aut! Sit voluptates ipsa voluptatibus quisquam natus? 
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Mejores precios 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis soluta possimus culpa unde aut! Sit voluptates ipsa voluptatibus quisquam natus?